$color-0F85FF: #0F85FF;
$color-1d60bb: #1d60bb;
$color-ffffff: #FFFFFF;
$color-FF6300: #FF6300;
$color-EA0000: #EA0000;
$color-FF0044:#FF0044;
$color-9F6DD8: #9F6DD8;
$color-333333: #333333;
$color-666666: #666666;
$color-f7f7f7: #f7f7f7;
$color-cdcdcd: #cdcdcd;
$color-999999: #999999;
$color-C8C8C8: #C8C8C8;
$color-3f3f3f: #3f3f3f;
$color-e5e5e5: #e5e5e5;
$color-B06FC4: #B06FC4;
$color-58A7E9: #58A7E9;
$color-2BAAC6: #2BAAC6;
$color-3F9DFF: #3F9DFF;
$color-27ABC5: #27ABC5;
$color-2162da: #2162da;
$color-151515: #151515;
$color-aaaaaa: #aaaaaa;
$color-f6f6f6: #f6f6f6;
$color-2a2a2a: #2a2a2a;