html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0
}
fieldset,img {
    border: 0
}
img {
    display: block
}
address,caption,cite,code,dfn,th{
   font-style: normal;
   font-weight: normal
}
ul,ol {
   list-style: none
}
input {
   padding-top: 0;
   padding-bottom: 0;
}
input::-moz-focus-inner {
   border: 0;
   padding: 0
}
select,input {
   vertical-align: middle
}
select,input,textarea {
   font-size: 12px;
   margin: 0
}
input[type="text"],input[type="password"],textarea {
   outline-style: none;
   -webkit-appearance: none
}
textarea {
   resize: none
}
table {
   border-collapse: collapse
}
@font-face {
  font-family: 'number';
  src: url('/src/assets/font/DIN-Medium.otf');
}
.number{
	font-family: 'number';
}
//定义变量
$color-0F85FF: #0F85FF;
$color-1d60bb: #1d60bb;
$color-ffffff: #FFFFFF;
$color-FF6300: #FF6300;
$color-EA0000: #EA0000;
$color-FF0044: #FF0044;
$color-9F6DD8: #9F6DD8;
$color-333333: #333333;
$color-666666: #666666;
$color-f7f7f7: #f7f7f7;
$color-cdcdcd: #cdcdcd;
$color-999999: #999999;
$color-C8C8C8: #C8C8C8;
$color-3f3f3f: #3f3f3f;
$color-e5e5e5: #e5e5e5;
$color-B06FC4: #B06FC4;
$color-58A7E9: #58A7E9;
$color-2BAAC6: #2BAAC6;
$color-3F9DFF: #3F9DFF;
$color-27ABC5: #27ABC5;
$color-2162da: #2162da;
$color-151515: #151515;
$color-aaaaaa: #aaaaaa;
$color-f6f6f6: #f6f6f6;
$color-2a2a2a: #2a2a2a;
$color-323232: #323232;
$color-c8c8c8: #c8c8c8;
$color-ff6300: #ff6300;

.btn{
  border: none;
  font-size: 0.16rem;
  color: $color-ffffff;
  background-color: $color-0F85FF;
  border-radius: 0.05rem;
  height: 0.44rem;
  outline: none;
}
body{
  font-size: 0.12rem;
  background-color: $color-f7f7f7;
}


//1px
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .border-1px{
    &:after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
    &:after{
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }    
  }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .border-1px{
    &:before{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
    &:after{
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
@mixin border-1px($color,$top){
  position: relative;
  &:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid $color;
    content: '';
  }
  @if $top {
    &:before{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      border-top: 1px solid $color;
      content: '';
    }
  }
}